@import "_modules";

// header layout
#header {
	padding: 1em 0 0 0;
	@include container(88%);
	border-bottom: 1px solid $base-lighter-grey;
	@include clearfix;
}

.top-banner {
	background: $base-lighter-grey;
	color: white;
	text-align: center;
	font-size: 0.8em;
	@include alternative-font;
}

// content layout
#content {
	width: 100%;
	margin-bottom: 4em;
}

// footer

#footer {
	border-top: 1px solid $base-lighter-grey;
	padding: 1em 0;
	@include container(88%);
	@include clearfix;
}



.left-footer {

	@include breakpoint($breakpoint-medium-width) {
		float: left;
	}

}

.right-footer {

	@include breakpoint($breakpoint-medium-width) {
		text-align: right;
		float: right;
	}

}


// section

.section {
	padding: 1em 0;
	@include container(88%);
}

.section-title {
	font-style: italic;
	color:$base-light-grey;
	margin-bottom: 1em;
}


// hero section

.hero {
	padding-top: 3em;
	text-align: center;
	hr {
		width: 20px;
		margin: 2em auto 0;

	}
	@include breakpoint($breakpoint-medium-width) {
		font-size: 1.6em;
	}

	@include breakpoint($breakpoint-medium-wide) {
		font-size: 1.8em;
	}
}

.symbol-seperator {
	margin: 1em auto 0;
	font-size: 2em;
	color: $base-lighter-grey;
	border-top: 1px solid $base-lighter-grey;
	border-bottom: 1px solid $base-lighter-grey;
	width: 4em;
	line-height: .08em;

	span {
		background-color: white;
		padding: 0 .2em;
	}

}

.hero-title {
	font-size: 2em;
	line-height: 1em;
}

.hero-subtitle {
	margin: 2em auto 0;
	width: 90%;
	@include breakpoint($breakpoint-medium-width) {
		font-size: .8em;
		margin: 3em auto 0;
		width: 70%;
	}

	@include breakpoint($breakpoint-medium-wide) {
		font-size: .6em;
		margin: 4em auto 0;
		width: 60%;
	}
}


// label

.label {
	@include alternative-font;
	background: $base-lighter-grey;
	color: white;
	font-size: 0.7em;
	border-radius: 0.4em;
	padding: 0 .8em;
	margin: 0 .5em;
	display: inline-block;
}

// article text

.article-text {
	padding-top: 1em;
}


// portfolio wrapper

.portfolio {
	@include clearfix;
	padding-bottom: 1em;
	
}


// blog list page

.blog-entry {
	.excerpt {
		padding: 1em 0 2em 0;
	}
}


// gallery page

#gallery {
	.portfolio {
		margin-top: 4em;
	}
}

// portfolio page

.article-text, #portfolio {
	img {
		margin: 3em 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	p, blockquote {
		max-width: 700px;
	}
}


#portfolio {

	h2 {
		@include alternative-font;
		font-weight: 700;
	}

	h3 {
		text-align: center;
	}

	.intro {
		font-size: 1.4em;
		padding: 1em 0;
	}

	.portfolio-content {
		padding-top: 3em;
	}


	.portfolio-header {
		margin-top: 3em;
		text-align: center;
		h2 {
			@include adjust-font-size-to(48px);
		}

		p {
			@include adjust-font-size-to(18px);
		}
		.title {
			text-transform: uppercase;
		}
	}

	.title-seperator {
		height: 0.2em;
		width: 2em;
		margin: 2em auto;
		border-top: 1px solid $base-lighter-grey;;
		border-bottom: 1px solid $base-lighter-grey;;

	}

	.skills {
		margin-top: .5em;
	}

	@include breakpoint($breakpoint-medium-width) {
		p {
			width: 80%;
			margin: 0 auto;
		}
		.portfolio-header h2{
			@include adjust-font-size-to(72px);
		}

		.intro {
			font-size: 1.6em;
		}
	}

	@include breakpoint($breakpoint-medium-wide) {
		p {
			width: 60%;
			margin: 0 auto;
		}
		.portfolio-header h2{
			@include adjust-font-size-to(72px);
		}
		img {
			margin: 4em auto;
		}
	}
}

img.shadow{
	box-shadow: 0 0 2px $base-lighter-grey;
}


