		<div class="portfolio">
			<a href="{{ BASE_PATH }}/portfolio/lifelogger" class="case">
				<img class="case-thumbnail shadow" src="{{ BASE_PATH }}/img/project_lifelogger.png" alt="LifeLogger">
			</a>
			<a href="{{ BASE_PATH }}/portfolio/mustale" class="case">
				<img class="case-thumbnail shadow" src="{{ BASE_PATH }}/img/project_mustale.png" alt="">
			</a>
			<a href="{{ BASE_PATH }}/portfolio/amigo" class="case">
				<img class="case-thumbnail shadow" src="{{ BASE_PATH }}/img/project_amigo.png" alt="">
			</a>
			<a href="{{ BASE_PATH }}/portfolio/wowcheer" class="case">
				<img class="case-thumbnail shadow" src="{{ BASE_PATH }}/img/project_wowcheer.png" alt="">
			</a>
			<a href="{{ BASE_PATH }}/portfolio/jpjy" class="case">
				<img class="case-thumbnail shadow" src="{{ BASE_PATH }}/img/project_jpjy.png" alt="">
			</a>
			<a href="{{ BASE_PATH }}/portfolio/crossview" class="case">
				<img class="case-thumbnail shadow" src="{{ BASE_PATH }}/img/project_crossview.png" alt="">
			</a>
		</div>