@import "_media";

.case {
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: 1em;
	// border: 1px solid $base-lighter-grey;
	line-height: 0;
	.case-thumbnail {
		width: 100%;
		// padding: 2px;
	}
	.case-title {
		display: block;
		position: absolute;
		margin: auto;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 2em;
		text-align: center;
		color: white;
	}

	@include breakpoint($breakpoint-medium-width) {
		width: 49.5%;
		margin-right: .5%;
		margin-bottom: 2px;
		float: left;
	}

	@include breakpoint($breakpoint-medium-wide) {
		width: 33%;
		margin-right: .3%;
		float: left;		
	}
}