@import "_base";
@import "_media";


.logo {
	text-align: center;

	a {
		text-decoration: none;
	}

	.logo-type {
		display: block;
		vertical-align: middle;

		.name{
			font-size: .6em;
			line-height: 1.2em;
		}

		.title {
			font-size: .4em;
			line-height: 1.2em;
			color:$base-light-grey;
			font-style: italic;
		}
	}


	@include breakpoint($breakpoint-medium-width) {
		text-align: left;
		float: left;
		margin-bottom: 0.6em;
	}

}